<!-- -----footer----- -->
<footer class="px-160 py-64 border-top border-black-2">
  <div class="d-flex">
    <a href="index.html">
      <img src="../assets/images/logo.png" alt="觀哉GuanZai" class="me-32"
    /></a>
    <ul class="list-unstyled d-flex">
      <li class="px-32"><a href="#" class="link-secondary">所有作品</a></li>
      <li class="px-32 position-relative">
        <a href="#" class="link-secondary">熱門排行</a>
      </li>
      <li class="px-32"><a href="#" class="link-secondary">平台推薦</a></li>
      <li class="px-32 position-relative">
        <a href="#" class="link-secondary">關於我們</a>
      </li>
      <li class="px-32"><a href="#" class="link-secondary">會員專區</a></li>
    </ul>
  </div>
</footer>
