<!-- -----footer----- -->
<footer
  class="px-24 px-xl-80 px-xxl-160 pb-40 pt-64 pb-lg-64 border-top border-black-2"
>
  <div class="d-flex flex-column flex-xxl-row justify-content-between">
    <!-- -----list----- -->
    <div class="d-flex flex-column flex-lg-row mb-40 mb-lg-0">
      <a href="index.html" class="me-32 mb-40 mb-lg-0">
        <img src="../assets/images/logo.png" alt="觀哉GuanZai"
      /></a>
      <ul class="list-unstyled d-flex flex-column flex-lg-row text-start">
        <li class="px-lg-32 mb-12 my-lg-0">
          <a href="#" class="link-secondary">所有作品</a>
        </li>
        <li class="px-lg-32 my-12 my-lg-0 position-relative">
          <a href="#" class="link-secondary">熱門排行</a>
        </li>
        <li class="px-lg-32 my-12 my-lg-0">
          <a href="#" class="link-secondary">平台推薦</a>
        </li>
        <li class="px-lg-32 my-12 my-lg-0 position-relative">
          <a href="#" class="link-secondary">關於我們</a>
        </li>
        <li class="px-lg-32 mt-12 my-lg-0">
          <a href="#" class="link-secondary">會員專區</a>
        </li>
      </ul>
    </div>
    <!-- -----social----- -->
    <ul class="list-unstyled mb-48 mb-lg-64 text-center text-lg-end">
      <li class="d-inline-block">
        <a href="#" class="btn btn-social">
          <img src="../assets/images/icon/instagram.png" alt="mail" />
        </a>
      </li>
      <li class="d-inline-block mx-16">
        <a href="#" class="btn btn-social d-inline-block">
          <img src="../assets/images/icon/facebook.png" alt="mail" />
        </a>
      </li>
      <li class="d-inline-block">
        <a href="#" class="btn btn-social d-inline-block">
          <img src="../assets/images/icon/mail.png" alt="mail" />
        </a>
      </li>
    </ul>
  </div>
  <p class="text-center text-lg-end">
    <span class="english fs-13 d-block d-xxl-inline mb-8 mb-lg-0"
      >Copyright©2023 GuanZai All Rights Reserved</span
    >
    <span class="fs-12"> 此網站為個人切版作品，非商業使用</span>
  </p>
</footer>
