<header class="border-bottom border-1 border-black-2">
  <nav class="navbar navbar-expand-lg navbar-light bg-white-2 py-0">
    <div
      class="container-fluid px-12 px-lg-64 py-16 py-lg-24 d-flex justify-content-between"
    >
      <!-- --------search-------- -->
      <button
        class="navbar-toggler border-0"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#search"
        aria-controls="search"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <img
          src="../assets/images/icon/search.png"
          alt="berger"
          class="align-self-center"
        />
      </button>
      <!-- --------burger-------- -->
      <button
        class="navbar-toggler border-0 burger"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <img src="../assets/images/icon/burger.png" alt="burger" />
        <img src="../assets/images/icon/close.png" alt="close" class="d-none" />
      </button>
      <!-- --------collapse-------- -->
      <div class="collapse navbar-collapse px-16 px-lg-0" id="navbar">
        <!-- -----list----- -->
        <ul class="navbar-nav pt-56 pt-lg-0 mb-48 mb-lg-0">
          <li class="nav-item pe-lg-40 py-8 py-lg-0">
            <a href="#" class="nav-link">所有作品</a>
          </li>
          <li class="nav-item px-lg-40 py-8 py-lg-0 position-relative">
            <a href="#" class="nav-link">熱門排行</a>
          </li>
          <li class="nav-item ps-lg-40 pe-lg-48 py-8 py-lg-0">
            <a href="#" class="nav-link">平台推薦</a>
          </li>
        </ul>
        <!-- -----search----- -->
        <div class="search position-relative">
          <img
            src="../assets/images/icon/search.png"
            alt="search"
            class="position-absolute"
          />
          <input
            type="text"
            name="search"
            id="search"
            placeholder="搜尋劇名/演員/類別"
            aria-label="search"
            aria-describedby="search"
            class="form-control ps-64 pe-24"
          />
        </div>
        <!-- -----button----- -->
        <ul
          class="list-unstyled mb-0 d-flex flex-column flex-lg-row justify-content-lg-end flex-grow-1"
        >
          <li class="nav-item me-0 me-lg-16 mb-16 mb-lg-0">
            <button type="button" class="btn btn-outline-secondary w-100">
              登入
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-secondary w-100">
              立即註冊
            </button>
          </li>
        </ul>
        <!-- -----copyright----- -->
        <div class="text-center d-block d-lg-none pb-16 mt-295">
          <span class="english fs-13">
            Copyright©2023 GuanZai All Rights Reserved
          </span>
          <br />
          <span class="fs-12"> 此網站為個人切版作品，非商業使用 </span>
        </div>
      </div>
    </div>
  </nav>
</header>
