// --------buttons--------
.btn-tags {
    border: 1px solid $black-2;
    border-radius: 96px;
    padding: 12px;
    font-size: 12px;
    display: inline-flex;
    margin-right: 4px;
    margin-bottom: 4px;
    line-height: 1.2;
    background-color: $white-3;
    @include zoom(0.2s);

    &:hover {
        background-color: $secondary !important;
        color: $white !important;
    }
}

.btn-social {
    background-color: $gold-3;
    padding: 12px;
    color: $white;
    @include zoom(0.2s);

    &:hover {
        background-color: $primary;
    }
}