.container {
  .logo {
    max-width: 136px;

    @include lg() {
      max-width: 176px;
    }
  }
}

// -----pagination-----
.page {
  button {
    width: 80px;
    height: 80px;
  }
}

// -----marquee-----
.marquee {
  .swiper {
    &-wrapper {
      transition-timing-function: linear;
    }

    &-slide {
      padding-top: 16px;
      padding-bottom: 16px;
      width: auto;
    }
  }
}

// -----banner-----
.banner {
  // left: -72px;

  &-box {
    width: 100%;
    height: 608px;
    overflow: hidden;
  }

  .swiper-slide {
    overflow: hidden;
    object-fit: cover;
    object-position: center center;
    width: 112px !important;
    // width: 6% !important;
    height: 608px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper-slide-active {
    width: 1296px !important;
    // width: 65% !important;
  }
}

// -----about-----
.about {
  li:hover img {
    transform: scale(1.1);
  }

  svg {
    width: 40px;
    height: 40px;
    object-fit: cover;

    @include lg() {
      width: 56px;
      height: 56px;
    }
  }

  &::before {

    @include lg() {
      content: "";
      position: absolute;
      width: 742px;
      height: 724px;
      background-image: url('/assets/images/deco3.png');
      background-size: cover;
      top: 360px;
      z-index: -1;
    }
  }

  &::after {
    @include lg() {
      content: "";
      position: absolute;
      width: 312px;
      height: 724px;
      background-image: url('/assets/images/deco4.png');
      background-size: cover;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }
}

// -----latest-----
.latest {
  &::before {
    @include lg() {
      content: "";
      position: absolute;
      top: 318px;
      z-index: -2;
      width: 100%;
      height: 760px;
      background-image: url('/assets/images/長月燼明.png');
      background-size: cover;
    }
  }

  &::after {
    @include lg() {
      content: "";
      position: absolute;
      top: 762px;
      z-index: -2;
      width: 100%;
      height: 320px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
    }
  }

  .card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-link {
    max-height: 70px;
    overflow: hidden;
  }
}