.container {
  .logo {
    max-width: 136px;

    @include lg() {
      max-width: 176px;
    }
  }
}

// -----pagination-----
.page {
  button {
    width: 80px;
    height: 80px;
  }
}

// -----marquee-----
.marquee {
  .swiper {
    &-wrapper {
      transition-timing-function: linear;
    }

    &-slide {
      padding-top: 16px;
      padding-bottom: 16px;
      width: auto;
    }
  }
}

// -----banner-----
.banner {
  // left: -72px;

  &-box {
    width: 100%;
    height: 608px;
    overflow: hidden;
  }

  .swiper-slide {
    overflow: hidden;
    object-fit: cover;
    object-position: center center;
    width: 112px !important;
    // width: 6% !important;
    height: 608px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper-slide-active {
    width: 1296px !important;
    // width: 65% !important;
  }
}

// -----about-----
.about {
  li:hover img {
    transform: scale(1.1);
  }

  svg {
    width: 40px;
    height: 40px;
    object-fit: cover;

    @include lg() {
      width: 56px;
      height: 56px;
    }
  }

  &::before {

    @include lg() {
      content: "";
      position: absolute;
      width: 742px;
      height: 724px;
      background-image: url('/assets/images/deco3.png');
      background-size: cover;
      top: 360px;
      z-index: -1;
    }
  }

  &::after {
    @include lg() {
      content: "";
      position: absolute;
      width: 312px;
      height: 724px;
      background-image: url('/assets/images/deco4.png');
      background-size: cover;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }
}

// -----latest-----
.latest {
  &::before {
    @include lg() {
      content: "";
      position: absolute;
      top: 318px;
      z-index: -2;
      width: 100%;
      height: 760px;
      background-image: url('/assets/images/長月燼明.png');
      background-size: cover;
    }
  }

  &::after {
    @include lg() {
      content: "";
      position: absolute;
      top: 762px;
      z-index: -2;
      width: 100%;
      height: 320px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
    }
  }

  // -----最多顯示兩行介紹-----
  .card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // -----最多顯示兩行tag-----
  .card-link {
    max-height: 70px;
    overflow: hidden;
  }
}

// -----rank card-----
.rank {
  ul {
    li {
      padding-left: 32px;
      padding-top: 16px;
      padding-bottom: 16px;
      border-left: 2px solid $black-2;
      @include zoom(.2s);

      &:hover {
        border-left: 2px solid $primary;
        padding-left: 64px;
      }

      &:hover a {
        color: $primary;
      }

      &:hover svg {
        display: block;
      }
    }

    .active {
      border-left: 2px solid $primary;
      padding-left: 64px;

      a {
        color: $primary;
      }

      svg {
        display: block;
      }
    }

    a {
      font-size: 64px;
      font-weight: bold;
      color: $black-2;
      position: relative;
      @include zoom(.2s);
    }

    svg {
      stroke-width: 2px;
      position: absolute;
      transform: translate(-50%, 0);
      bottom: 0;
      left: 35%;
      display: none;
      @include zoom(.2s);
    }
  }

  .img-box {
    display: block;
    max-width: 560px;
    max-height: 600px;
    transform: translate(-50%, 0);
    left: 50%;

    img {
      width: 100%;
    }
  }

  .img-box:nth-child(1) {
    transform: translate(-50%, 0) rotate(-4deg);
    z-index: 1;
  }

  .img-box:nth-child(3) {
    transform: translate(-50%, 0) rotate(4deg);
    z-index: -1;
  }

  .img-box:nth-child(4) {
    transform: translate(-50%, 0) rotate(8deg);
    z-index: -2;
  }

  .z-1 {
    z-index: 1;
  }
}