.container {
  img {
    max-width: 136px;

    @include lg() {
      max-width: 176px;
    }
  }
}

// -----pagination-----
.page {
  button {
    width: 80px;
    height: 80px;
  }
}

// -----marquee-----
.marquee {
  .swiper {
    &-wrapper {
      transition-timing-function: linear;
    }

    &-slide {
      padding-top: 16px;
      padding-bottom: 16px;
      width: auto;
    }
  }
}