<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>觀哉 GuanZai</title>
    <link
      rel="stylesheet"
      href="/dist/assets/styles/core.css?ver=1.4.3"
      media="screen"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- -----banner----- -->
    <div class="container pt-48 pt-lg-64">
      <!-- -----logo & pagination----- -->
      <div class="d-flex justify-content-between mb-48 mb-lg-80">
        <img
          src="../assets/images/logo.png"
          alt="觀哉GuanZai"
          class="mx-auto ms-lg-0 me-lg-auto"
        />
        <ul class="page d-none d-lg-block">
          <li class="d-inline-block me-24">
            <button
              type="button"
              class="btn btn-square btn-outline-secondary fs-24"
            >
              <i class="bi bi-arrow-left"></i>
            </button>
          </li>
          <li class="d-inline-block">
            <button
              type="button"
              class="btn btn-square btn-outline-secondary fs-24"
            >
              <i class="bi bi-arrow-right"></i>
            </button>
          </li>
        </ul>
      </div>
      <!-- -----marquee----- -->
      <div
        class="position-relative border border-cos border-opacity-70 mb-24 pt-48 pt-lg-0"
      >
        <div class="comment border-cos position-absolute">
          <i class="bi bi-star-fill text-primary me-4"></i>
          <span
            class="english fs-15 fw-bold border-end border-white-3 pe-8 me-8"
          >
            4.9 </span
          >網友評論
        </div>
        <div class="swiper marquee">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <span class="me-48">
                【犀嘻嘻】人物性格鮮明，劇情緊湊富張力，不拖也不灑狗血，值得一刷再刷，我已經刷12遍了!!!
              </span>
              <span>
                【雨葭】被朋友推坑，原本根本不看古裝劇，但這部真的太頂了=
                =，雖然是2015年的劇，最近剛補也不影響，劇情緊湊環環相扣，看梅長蘇一部部達成所願，但這結果....唉我好希望他能再和景琰待一會.....
              </span>
            </div>
            <div class="swiper-slide">
              <span class="me-48">
                【犀嘻嘻】人物性格鮮明，劇情緊湊富張力，不拖也不灑狗血，值得一刷再刷，我已經刷12遍了!!!
              </span>
              <span>
                【雨葭】被朋友推坑，原本根本不看古裝劇，但這部真的太頂了=
                =，雖然是2015年的劇，最近剛補也不影響，劇情緊湊環環相扣，看梅長蘇一部部達成所願，但這結果....唉我好希望他能再和景琰待一會.....
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <!-- -----bootstrap----- -->
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- -----jquery----- -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".burger").click(function (event) {
          $(".burger img").toggleClass("d-none");
        });
      });
    </script>
    <!-- -----swiper----- -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- -----marquee----- -->
    <script>
      const swiper = new Swiper(".marquee", {
        spaceBetween: 48,
        allowTouchMove: false,
        slidesPerView: "auto",
        speed: 30000,
        loop: true,
        autoplay: {
          delay: 0,
          disableOnInteraction: false,
        },
      });
    </script>
  </body>
</html>
